# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build folders
dist/
build/
.next/

# Vite cache
.vite/

# MongoDB
mongodb_data/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db